doctype html
html(lang='en')
  head
    title Open Graph Link Editor
    // Required meta tags 
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1,shrink-to-fit=no')
    // Bootstrap CSS 
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css', integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb', crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
  body
    // Optional JavaScript 
    // jQuery first, then Popper.js, then Bootstrap JS 
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js', integrity='sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js', integrity='sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ', crossorigin='anonymous')
    video#myVideo(autoplay='', muted='', loop='')
          source(src='/videos/alive.mp4', type='video/mp4')
    .container-fluid
      .row
        .col
        .col#main
          h1(style='text-align:center') Open Graph Link Editor
          hr.col-md-12
          form.form-horizontal#usrform(method='POST', enctype='multipart/form-data')
            .form-group
              label.col-xs-2(for='link') Original link
              .col-xs-10
                input.form-control#link(type='text', name='link', aria-describedby='helpLink', placeholder='www.google.com')
                small#helpLink.form-text.text-muted Type your source Link
            .form-group
              label(for='title') Link's Title
              input.form-control#title(type='text', name='title', aria-describedby='helpId', placeholder='Your title here')
              small#helpTitle.form-text.text-muted Type your desired Title
            .form-group
              label(for='descField') Link's Description
              textarea.form-control#desc(type='text', name='desc', placeholder='Your Description goes here')
              small#helpDescription.form-text.text-muted Type your desired Description
            .form-group
              label.custom-file
                input#file.custom-file-input(type='file', name='pic')
                span.custom-file-control#custom-file-control
              small#fileHelpId.form-text.text-muted Pick an image no bigger than 9 Mb. Images whose size are bigger than 9mb will be resized and/or compressed.
              img#image-preview(src='#', alt='Preview', onerror='onError(this);')
            .col-xs-12
              button.btn.btn-primary#submitButton(type='submit') Submit
              button.btn.btn-danger(type='reset', onclick='alsoClearImage()') Reset
            .col-xs-12(style='padding-top:5px')
              .progress(style='height:20px')
                .progress-bar.progress-bar-striped.progress-bar-animated.bg-success(style='text-align:center; width:0%')
        .col
    script(src="/javascripts/util.js")
